### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
testData
.cache
*.pdf
*.docx
*.gitignore
processed_data(1)
bert/bert-base-chinese/pytorch_model.bin